* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

button {
  cursor: pointer;
}

body {
  background-color: #020617;
  font-family: "Be Vietnam Pro", sans-serif;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem;
}

.nav a {
  color: #e5e7eb;
}

.nav a:hover {
  background: linear-gradient(90deg, #22c55e, #3b82f6, #a855f7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Main list */
.nav__list {
  display: flex;
}

/* Top-level items spacing */
.nav__list--main:not(.nav__submenu) {
  gap: 3rem;
}

/* Submenu layout */
.nav__submenu {
  flex-direction: column;
  margin-top: 1rem;
}

/* Submenu hidden state */
.nav__submenu--dropdown {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s ease;
  position: absolute;
  background-color: #131419;
  padding: 1rem;
  border-radius: 1rem;
}

/* Show submenu on hover */
.nav__item--dropdown:hover .nav__submenu {
  visibility: visible;
  opacity: 1;
}

.nav__submenu-item {
  margin-bottom: 1rem;
}

.nav button {
  border: unset;
  background: transparent;
  background: linear-gradient(
    180deg,
    rgba(226, 232, 255, 0),
    rgba(226, 232, 255, 0.12)
  );
  position: relative;
  z-index: 1;
  outline-color: #1e293b;
  font-weight: 600;
  color: #fff;
  font-size: 1rem;
  border-radius: 0.75rem;
  outline: 2px solid #1e293b;
  outline-offset: 2px;
  padding: 0.75rem 1.5rem;
}

/* Hover state */
.nav button:hover {
  outline-color: #a855f7; /* hover:outline-purple-500 */

  background-image: linear-gradient(
    to bottom right,
    #6366f1,
    /* indigo-500 */ #a855f7,
    /* purple-500 */ #ec4899 /* pink-500 */
  );
}

.sign-in--page {
  display: flex;
  padding: 1.5rem;
  max-width: 1280px;
  justify-content: space-between;
  align-items: center;
  margin: 4rem auto 0 auto;
}

.sign-in--container {
  background: rgba(15, 23, 42, 0.6);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(100, 116, 139, 0.5);
  border-radius: 16px;
  width: 320px;
  min-height: 640px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}
