* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Red Hat Display", serif;
}

header {
    height: 191px;
    background-image: url('resources/background-png@2x.png');
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    /* Full viewport width */
    background-size: cover;
    /* Ensure background covers the header area */
    image-rendering: crisp-edges;
}

@media only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi) {
    header {
        background-image: url('resources/background-png@2x.png');
    }
}

@media only screen and (max-device-pixel-ratio: 1),
only screen and (max-resolution: 192dpi) {
    header {
        background-image: url('resources/background-png.png');
        /* Regular image */
    }
}

.hero {
    width: 692.9px;
    height: 180px;
}

.hero h2 {
    margin-bottom: 1rem;
    color: #6B59D0;
}

.hero h1 {
    font-weight: 700;
    font-size: 48px;
    color: #374151;
}

.articles a {
    color: #6B59D0;
    text-decoration: none;
}

.articles h3 {
    color: #374151;
    font-size: 18px;
}

.articles p {
    color: #6B7280;
}