* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Be Vietnam Pro", serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

main {
    display: flex;
    flex-direction: row;
    max-width: 1280px;
    background-color: #ffffff;
}

.form--section {
    width: 720px;
    padding: 40px 72px;
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
}

label {
    color: #6C727F;
    font-size: 14px;
    margin-bottom: 5px;
}

header {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

header img {
    width: 98px;
    height: 20px;
    object-fit: cover;
}

header h2 {
    font-size: 24px;
    font-weight: 600;
}

header p {
    font-size: 14px;
    color: #6C727F;
    margin-bottom: 2rem;
}

form {
    display: flex;
    flex-direction: column;
}

input[type="text"],
input[type="email"] {
    width: 576px;
    margin-bottom: 1rem;
    border-radius: 12px;
    padding: 16px;
}

input {
    height: 56px;
}

select[name="country"],
input[type="number"] {
    width: 276px;
    height: 56px;
    border-radius: 12px;
    padding: 16px;
}

.payment__mode {
    display: flex;
    margin-bottom: 1rem;
    gap: 15px;
}

.payment__mode div {
    width: 181.33px;
    height: 84px;
    border: 1px solid slateblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 16px;
    border-radius: 12px;
}

.payment__mode div img {
    width: 20px;
    height: 20px;
    object-fit: cover;
}

.location {
    display: flex;
    gap: 25px;
}

.location div {
    display: flex;
    flex-direction: column;
}