:root {
    /* Typography */
    --sora-font-title: 1.125rem;
    --sora-font-body: 0.875rem;
    --sora-font-small: 0.75rem;
    --sora-font-tag: 0.625rem;
    /* colors */
    --body-bg-color: #FAFAF9;
    --link-color: #7C19EE;
    --main-bg-color: #FFFFFF;
    --title-color: #20293A;
    --para-color: #394150;
    --tag-bg-color: #F9F5FE;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: "Sora", sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: var(--body-bg-color);
}

a {
    text-decoration: none;
    font-family: inherit;
}

main {
    border: 1px solid #E5EAF0;
    max-width: 369px;
    border-radius: 12px;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.15);
    height: 388px;
    padding: 1rem;
    width: 100%;
    background-color: var(--main-bg-color);
}

img {
    max-width: 336px;
    width: 100%;
    display: block;
    margin: auto;
    object-fit: cover;
    margin-bottom: 1rem;
}

main a {
    font-weight: 500;
    font-size: var(--sora-font-tag);
    color: var(--link-color);
    background-color: var(--tag-bg-color);
    padding: 4px 16px;
}

article {
    border-bottom: 1px solid #E5EAF0;
}

h1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: 600;
    font-size: var(--sora-font-title);
    color: var(--title-color);
}

p {
    line-height: 1.5;
    font-size: 14px;
    margin-bottom: 1rem;
}

.author-info {
    font-size: 12px;
    text-align: center;
    margin-top: 50px;
    color: rgb(55, 65, 81);
}

.author-info a {
    color: var(--link-color);
    text-decoration: underline;
}

span {
    display: block;
    padding-top: 1rem;
    font-size: 12px;
}

p,
span {
    color: var(--para-color);
}

@media screen and (max-width: 413px) {
    body {
        margin: 1rem;
    }

    main {
        width: 100%;
    }
}