 h1 {
     font-family: "Outfit", sans-serif;
     font-size: 40px;
     font-weight: 500;
 }

 h2 {
     font-family: "Outfit", sans-serif;
     font-size: 20px;
     font-weight: 600;
     color: #FFFEFE;

 }

 p {
     font-family: "Outfit", sans-serif;
     font-size: 16px;
     font-weight: 400;
     color: #394150;

 }

 .page {
     border: 0px solid black;
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 80px;
 }

 .main {
     border: 0px solid black;
     display: flex;
     justify-content: center;
     background: url(resources/Background_decor.svg);
     background-color: #F3F4F6;
     background-repeat: no-repeat;
     flex-wrap: wrap;
     border-radius: 16px;
     overflow: hidden;
 }

 .text {
     border: 0px solid black;
     width: 478px;
     height: 264px;
     padding-left: 20px;
     padding-top: 20px;
     padding-right: 70px;
     line-height: 16px;

 }

 .people {
     border: 0px solid black;
     background-color: #C1B6F8;
     width: 284px;
     height: 290px;
     display: flex;
     flex-direction: column-reverse;
     background-image: url(resources/person_1@2x.png);
     background-repeat: no-repeat;
     line-height: 1px;
 }

 .people1 {
     border: 0px solid black;
     background-color: #C1B6F8;
     width: 284px;
     height: 290px;
     display: flex;
     flex-direction: column-reverse;
     background-image: url(resources/person_2@2x.png);
     border-top-right-radius: 20px;
     background-repeat: no-repeat;
     line-height: 1px;
 }

 .people2 {
     border: 0px solid black;
     width: 284px;
     height: 290px;
     display: flex;
     align-items: end;
     background-repeat: no-repeat;
 }

 .people3 {
     border: 0px solid black;
     background-color: #C1B6F8;
     width: 284px;
     height: 290px;
     display: flex;
     flex-direction: column-reverse;
     background-image: url(resources/person_3@2x.png);
     background-repeat: no-repeat;
     line-height: 1px;
 }

 .people4 {
     border: 0px solid black;
     background-color: #C1B6F8;
     width: 284px;
     height: 290px;
     display: flex;
     flex-direction: column-reverse;
     background-image: url(resources/person_4@2x.png);
     background-repeat: no-repeat;
     line-height: 1px;
 }

 .people5 {
     border: 0px solid black;
     background-color: #C1B6F8;
     width: 284px;
     height: 290px;
     display: flex;
     flex-direction: column-reverse;
     background-image: url(resources/person_5@2x.png);
     border-bottom-right-radius: 20px;
     background-repeat: no-repeat;
     line-height: 1px;
 }

 .shadowPeople5 {
     border-bottom-right-radius: 20px;
 }

 @media (max-width: 1024px) {
     .text {
         width: 100%;
     }
 }

 @media (max-width: 640px) {
     .page {
         padding: 0px;
     }
 }