* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Outfit", serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #fffefe;
    padding: 72px;
    line-height: 1.6;
}

main {
    background-color: #f3f4f6;
    max-width: 1136px;
    border-radius: 24px;
    border: 2px solid #000000;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

img {
    width: 284px;
    height: 288px;
    object-fit: cover;
}

.our--team a {
    color: #3662E3;
    font-size: 16px;
    text-decoration: none;
}

.our--team h1 {
    font-size: 40px;
    color: #000000;
    font-weight: 500;
}

.our--team p {
    color: #394150;
    font-size: 16px;
    width: 451px;
}