* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Outfit", serif;
    line-height: 1.6;
    background-color: #FFFEFE;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 72px;
    letter-spacing: -1%;
    line-height: 1.6;
}

main {
    background-color: #F3F4F6;
    max-width: 1136px;
    border-radius: 24px;
    border: 1px solid #000000;
}

.our--team {
    padding: 32px;
}

.our--team a {
    color: #3662E3;
    font-size: 16px;
    text-decoration: none;
    font-style: inherit;
}

.our--team h1 {
    font-size: 40px;
    font-weight: 500;
    margin: .5rem 0;
}

.our--team p {
    color: #394150;
    font-size: 16px;
    width: 451px;
}

.liam {
    background-image: url('resources/person_1.png');
    width: 284px;
    height: 288px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 200px 0 5px 25px;
    position: relative;
    background-color: #C1B6F8;
}

.sophia {
    background-image: url('resources/person_2.png');
    width: 284px;
    height: 288px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 200px 0 5px 25px;
    position: relative;
    background-color: #C1B6F8;
}

.ethan {
    background-image: url('resources/person_3.png');
    width: 284px;
    height: 288px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 200px 0 5px 25px;
    position: relative;
    background-color: #9DC4F8;
}

.isabella {
    background-image: url('resources/person_4.png');
    width: 284px;
    height: 288px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 200px 0 5px 25px;
    position: relative;
    background-color: #F8D8B0;
}

.noah {
    background-image: url('resources/person_5.png');
    width: 284px;
    height: 288px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 200px 0 5px 25px;
    position: relative;
    background-color: #86E7D4;
}


.member {
    position: relative;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.6);
}

.all--members {
    height: 288px;
    width: 284px;
    padding: 32px;
}

.all--members div {
    display: flex;
    align-items: center;
    gap: 5px;
    width: 220px;
    padding-top: 200px;
}

.all--members a {
    color: #394150;
    font-size: 16px;
    text-decoration: none;
    font-weight: 600;
}

.all--members div img {
    object-fit: cover;
    width: 16px;
    height: 16px;
}

.member h3 {
    font-size: 20px;
    color: #FFFEFE;
}

.member p {
    font-size: 15px;
    color: #F3F4F6;
}