/* Poppins Regular */
@font-face {
    font-family: 'Poppins';
    src: url('../resources/Poppins/Poppins-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

/* Poppins Italic */
@font-face {
    font-family: 'Poppins';
    src: url('../resources/Poppins/Poppins-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

/* Poppins Light */
@font-face {
    font-family: 'Poppins';
    src: url('../resources/Poppins/Poppins-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

/* Poppins Light Italic */
@font-face {
    font-family: 'Poppins';
    src: url('../resources/Poppins/Poppins-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

/* Poppins Medium */
@font-face {
    font-family: 'Poppins';
    src: url('../resources/Poppins/Poppins-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

/* Poppins Medium Italic */
@font-face {
    font-family: 'Poppins';
    src: url('../resources/Poppins/Poppins-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

/* Poppins SemiBold */
@font-face {
    font-family: 'Poppins';
    src: url('../resources/Poppins/Poppins-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

/* Poppins SemiBold Italic */
@font-face {
    font-family: 'Poppins';
    src: url('../resources/Poppins/Poppins-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

/* Poppins Bold */
@font-face {
    font-family: 'Poppins';
    src: url('../resources/Poppins/Poppins-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

/* Poppins Bold Italic */
@font-face {
    font-family: 'Poppins';
    src: url('../resources/Poppins/Poppins-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}