@import url(font-face.css);

/* ===============================
   ROOT TYPOGRAPHY VARIABLES
   =============================== */
:root {
    --font-heading: "Sora", sans-serif;
    --font-body: "Sora", sans-serif;

    /* Font sizes */
    --fs-h1: 4rem;
    /* 64px */
    --fs-h2: 2.25rem;
    /* 36px */
    --fs-subheading: 1.25rem;
    /* 20px */
    --fs-body: 1rem;
    /* 16px */
    --fs-link: 1.125rem;
    /* 18px */
    --fs-small: 0.875rem;
    /* 14px */
}