@import url(font-face.css);

:root {
    --font-primary: "Sora", sans-serif;

    /* Font Sizes */
    --fs-heading-1: 4rem;
    /* 64px */
    --fs-heading-2: 2.25rem;
    /* 36px */
    --fs-subheading: 1.25rem;
    /* 20px */
    --fs-body: 1rem;
    /* 16px */
    --fs-link: 1.125rem;
    /* 18px */
    --fs-small: 0.875rem;
    /* 14px */

    /* Font Weights */
    --fw-thin: 100;
    --fw-extra-light: 200;
    --fw-light: 300;
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semi-bold: 600;
    --fw-bold: 700;
    --fw-extra-bold: 800;
}