* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('./images/DreamShaper_v7_universe_stars_background_1 1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    margin: 0;
    background-color: #030616;
    font-family: "Sora", serif;
}

main {
    display: flex;
    gap: 32px;
}

.description {
    width: 342px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.description h3 {
    color: #CDD5E0;
}

.description p {
    color: #E3E8EF;
}

h1 {
    font-size: 64px;
    color: #F8FAFC;
}

h3 {
    font-size: 20px;
}

span {
    display: block;
    background: linear-gradient(to right, #7B248A 0%, #DA5597 49%, #A38CF3 100%);
    background-clip: text;
    /* Standard property for browsers supporting it */
    -webkit-background-clip: text;
    /* WebKit-specific property for Chrome, Safari, etc. */
    color: transparent;
    /* Makes the text color transparent to show the gradient */
}


.card {
    width: 369px;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    gap: 16px;
    height: 388px;
    border-radius: 15px;
    overflow: hidden
}

.card a {
    text-decoration: none;
    font-size: 12px;
    font-weight: 600;
    color: #7C19EE;
    background-color: #F2EAFD;
    border-radius: 15px;
    width: fit-content;
    padding: 4px 16px;
    margin-left: 15px;
    box-shadow: 8px 8px 20px 0px rgba(85, 85, 85, 0.08);
}

.card img {
    width: 337px;
    height: 152px;
    object-fit: cover;
    display: block;
    margin: 10px auto 0 auto;
}

.card h3 {
    padding-left: 15px;
    font-size: 18px;
    font-weight: 600;
}

.card p:not(:nth-of-type(2)) {
    padding: 0 5px 0 15px;
    font-size: 14px;
    width: 350px;
    line-height: 1.6;
}

.card p:not(:nth-of-type(1)) {
    font-size: 14px;
    padding-left: 15px;
}

@media screen and (max-width: 640px),
screen and (max-width: 760px) {
    body {
        margin: 2rem;
    }

    main {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 1040px) {
    body {
        margin: 2rem;
    }

    main {
        display: flex;
        flex-direction: column;
    }
}