.btn-container {
    display: flex;
    gap: 4px;
}

.btn--small {
    padding: 12px 24px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 37px;
    font-weight: 600;
    font-size: 1rem;
    border: none;
}

.btn--big {
    padding: 16px 36px;
    width: 180px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 45px;
    font-weight: 600;
    font-size: 1rem;
    border: none;
}

.btn--primary {
    background-color: #5DB082;
    color: #F6F7FB;
    cursor: pointer;
}

.btn--secondary {
    background-color: #F6F7FB;
    color: #737F8B;
    cursor: pointer;
}