* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Outfit", serif;
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

main {
    max-width: 1280px;
    display: flex;
    gap: 50px;
}

.image img {
    width: 472px;
    height: 646px;
    object-fit: cover;
}

.description {
    display: flex;
    flex-direction: column;
}

.breadcrumbs {
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 2.5rem;
}

.breadcrumbs span {
    color: #9DA3AE;
}

h1 {
    font-size: 32px;
    font-weight: 600;
    width: 405px;
    margin-bottom: 1.5rem;
}

p {
    margin-bottom: 2rem;
    width: 684px;
    line-height: 1.5;
}

h4 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 1rem;
}

ul {
    list-style-type: none;
    /* Remove the default bullets */
    padding-left: 15px;
    /* Adjust indentation */
    margin-bottom: 2.5rem;
}

ul li::before {
    content: '•';
    /* Unicode character for bullet */
    font-size: 15px;
    /* Adjust the bullet size */
    padding-right: 10px;
    /* Space between the bullet and text */
}

li {
    margin-bottom: .5rem;
}

.shoe {
    display: flex;
    background-color: #F3F4F6;
    width: 377px;
    height: 72px;
    align-items: center;
    justify-content: space-around;
}

.shoe div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}