* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(94, 133, 223);
    color: #ffffff;
    padding: 2.5rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

ul {
    list-style-type: none;
    padding: 0;
}

header,
nav {

    text-align: center;

}

h1,
h2 {
    margin-bottom: 1rem;
}

nav ul {
    display: flex;
    justify-content: center;
    gap: 25px;
    /* padding-bottom: 1.5rem; */
}


a {
    text-decoration: none;
    color: inherit;
    text-transform: uppercase;
}

main {
    border: #ffffff 2px solid;
    width: 50%;
    padding: 3rem;
    margin: 10% auto 0 auto;
    border-radius: 12.5px;
}

footer {
    text-align: center;
    position: sticky;
    margin-top: auto;
}