h1 {
    font-size: 20px;
}

p {
    font-family: "Arial", sans-serif;
    line-height: 1.6;

}

h1 {
    font-size: 2em;
}

body {
    color: rgba(255, 255, 255, 0.8);
    background-color: #ff5733;
}