@import url(preset.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-white);
    font-family: var(--font-primary);
}

.container {
    max-width: 1350px;
    margin: 0 auto;
    height: 720px;
    background-color: #fff;
}


/* main */
main {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1348px;
    margin: 0 auto;
}

input,
button,
a,
select {
    font-family: inherit;
    cursor: pointer;
}

input,
button,
select {
    height: 56px;
    padding: 16px;
    border-radius: 12px;
    outline: unset;
    border: unset;
}

input::placeholder,
select {
    line-height: 150%;
    font-size: 16px;
    color: #121826;
    font-weight: var(--weight-regular);
}

select {
    border: 1px solid #D2D5DA;
    background-color: #F3F4F6;
    cursor: pointer;
    width: 310px;
}

input {
    background-color: #F3F4F6;
    border: 1px solid #D2D5DA;
    font-size: var(--font-big-text);
}

.payment-details {
    gap: 16px;
}

form div a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    color: var(--color-black);
    border: 1px solid #D2D5DA;
    background-color: #F3F4F6;
    border-radius: 12px;
    padding: 16px;
    width: 204px;
    height: 84px;
    gap: 8px;
    line-height: 150%;
    font-size: 16px;
    font-weight: var(--weight-medium);
}

.card {
    border: 1px solid var(--color-primary);
    background-color: #ECE9FC;
}

form div a img {
    width: 20px;
    height: 20px;
}

img {
    object-fit: cover;
}

section:first-child {
    padding: 40px 72px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

header {
    display: flex;
    flex-direction: column;
    gap: 16px;
    letter-spacing: -1%;
    height: 96px;
    margin-bottom: 32px;
}

h1 {
    font-size: var(--font-heading);
    color: var(--color-black);
    font-weight: var(--weight-semibold);
}

header p {
    color: var(--color-gray-700);
    font-weight: var(--weight-regular);
    font-size: var(--font-small-text);
}

form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 644px;
}

form div img {
    height: 20px;
    width: 20px;
}

.payment-details {
    display: flex;
}

label,
h2 {
    display: block;
    margin-bottom: 12px;
    letter-spacing: -2%;
    font-weight: var(--weight-semibold);
    font-size: var(--font-small-text);
    color: var(--color-gray-700);
}

h2 {
    margin-bottom: 0;
}

#name,
#email {
    width: 100%;
}

.location {
    display: flex;
    gap: 24px;
    justify-content: space-between;
}

.location input {
    width: 310px;
}

.logo {
    width: 98px;
    height: 20px;
}

.btn {
    width: 644px;
    display: flex;
    gap: 16px;
    justify-content: space-between;
}

.btn button {
    padding: 16px 24px;
    line-height: 150%;
    font-size: 16px;
    font-weight: var(--weight-semibold);
}

.btn button:first-child {
    width: 101px;
    background-color: #F0F3F6;
    color: #121826;
}

.btn button:last-child {
    width: 527px;
    background-color: var(--color-primary);
    color: #ffffff;
}

/* second section */
section:last-child {
    background-color: var(--color-gray-100);
    width: 520px;
    height: 680px;
    padding: 32px;
    border-radius: 12px;
}

article:first-child {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 456px;
    height: 206px;
    border-bottom: 1px solid #D2D5DA;
}

article>div {
    display: flex;
    gap: 24px;
}

article div:not(:has(div)) {
    display: flex;
    flex-direction: column;
    gap: 11px;
}

section>article:not(:last-of-type)>h2,
section article div>h2 {
    font-size: var(--font-body);
    color: var(--color-black);
    font-weight: var(--weight-semibold);
}

article:first-child div>div>p {
    font-size: var(--font-small-text);
    font-weight: var(--weight-regular);
    color: var(--color-black);
}

article:first-child>div {
    padding: 16px;
    border-radius: 12px;
    display: flex;
    align-items: center;
}

article:first-child>div input {
    padding: 4px;
    width: 20px;
    height: 20px;
}

article>div:first-of-type {
    /* styles for the first plan option */
    background-color: #ECE9FC;
    border: 1px solid #5425AF;
}

article>div:last-of-type {
    /* styles for the first plan option */
    background-color: #FFFFFF;
}

article:last-of-type {
    width: 456px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

article:last-of-type h2 {
    display: flex;
    justify-content: space-between;
    font-size: var(--font-big-text);
    font-weight: var(--weight-semibold);
    color: var(--color-black);
}

article:last-of-type p {
    font-size: var(--font-extra-small);
    font-weight: var(--weight-light);
    color: var(--color-gray-700);
}

main>section:last-of-type img:not(p img) {
    object-fit: contain;
    display: block;
    height: 508px;
    width: 508px;
    right: 2px;
    position: absolute;
    bottom: -100px;
}

main>section:last-of-type {
    position: relative;
}

hr {
    margin-top: 32px;
    margin-bottom: 32px;
    background-color: #D2D5DA;
    height: 1px;
    border: none;
}

/* footer */
.author-info {
    font-size: 14px;
    text-align: center;
    margin-top: 16px;
    color: rgb(55, 65, 81);
}

.author-info a {
    text-decoration: none;
    color: inherit;
}

