*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    min-height: 100vh;
    font-family: var(--font-primary);
    background-color: var(--color-background);
    color: var(--color-text-dark);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Remove list styles */
ul,
ol {
    list-style: none;
}

/* Reset anchor styles */
a {
    text-decoration: none;
    color: inherit;
    font-family: inherit;
}

/* Make images easier to work with */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
    height: auto;
}

/* Remove built-in button styles */
button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: unset;
}

.author-info {
    font-size: 14px;
    text-align: center;
    margin-top: 16px;
    color: inherit;
    font-family: inherit;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}

/* Respect prefers-reduced-motion */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}