/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
    9. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

body {
  font-family: "Outfit", serif;
  background-color: #262833;
}


a {
  text-decoration: none;
  font-family: "Outfit", serif;
}

main {
  display: flex;
  padding: 24px;
}


header {
  display: flex;
  justify-content: space-between;
  padding: 20px 24px;
  border-bottom: 1px solid #43454D;
}

header div {
  display: flex;
  align-items: center;
}

.header__right {
  display: flex;
  gap: 12px;
}

.header__right h4 {
  color: #ffffff;
}

nav {
  display: flex;
  flex-direction: column;
  width: 220px;
  /* height: calc(100vh - 72px); */
  border-right: 1px solid #43454D;
}

.bottom--nav {
  margin-top: auto;
}

nav a {
  font-size: 16px;
  color: #ffffff;
}

nav h5 {
  text-transform: uppercase;
  color: #6C727F;
  font-size: 12px;
  margin-bottom: 1rem;
}

.nav__menus a {
  display: flex;
  align-items: center;
  gap: 8px;
}

.nav__menus--new a,
.nav__menus--tickets a {
  display: flex;
  align-items: center;
  gap: 8px;
}

.nav__menus--new,
.nav__menus--tickets {
  color: #ffffff;
  display: flex;
  width: 172px;
  align-items: center;
  /* height: 20px; */
}


.nav__menus--new div,
.nav__menus--tickets div {
  margin-left: auto;
  font-weight: 500;
  font-size: 10px;
  color: #ffffff;
  background-color: #A686C4;
  padding: 2px 8px;
  border-radius: 50px;
  display: flex;
  align-items: center;
}

.nav__menus--tickets div {
  background-color: #43454D;
  width: 25px;
  height: 17px;
  display: flex;
}

section {
  padding: 24px;
  width: 680px;
  height: 890px;
  border-radius: 20px;
  border: 1px solid #43454D;
}

section h5 {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.inventory__details--one {
  margin-bottom: 1rem;
}

.inventory__details--balance {
  width: 632px;
  height: 150px;
  display: flex;
}

.balance,
.details {
  background-color: #E3ECE6;
  width: 316px;
  padding: 24px;
  color: #262833;
}

.balance {
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.balance h4 {
  font-size: 24px;
  font-weight: 600;
}

.balance p {
  font-size: 16px;
  font-weight: 500;
}

.details {
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}

.details {
  background-image: url('resources/background-decor.svg');
  background-color: #73B06F;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
}

.details button {
  background-color: #E3ECE6;
  outline: none;
  border: none;
  border-radius: 50px;
  padding: 4px 16px;
  position: relative;
  left: 175px;
  top: 80px;
  color: #262833;
  font-weight: 500;
}

.details button .arrow::before {
  font-size: 24px;
  color: #73B06F;
}

.inventory__details--two span {
  background-color: #43454D;
  padding: 2px 8px;
  font-size: 10px;
  border-radius: 50px;
}

.cards {
  width: 632px;
  height: 422px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 22px;
}

.cards__1,
.cards__2,
.cards__3 {
  width: 288px;
  height: 200px;
}

.cards__1 h5,
.cards__2 h5 {
  font-size: 16px;
  color: #262833;
}

.grid img {
  width: 34px;
  height: 27px;
}

.flex img {
  width: 55.2px;
  height: 17px;
}

.cards__1 .grid {
  background-color: #E4D6F3;
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
  padding: 24px;
}

.cards__1 .flex {
  background-color: #A686C4;
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
  padding: 24px;
}

.cards__2 .grid {
  background-color: #F5DDC8;
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
  padding: 24px;
}

.cards__2 .flex {
  background-color: #E9AE79;
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
  padding: 24px;
}

.cards__3 {
  border: 1px dashed #43454D;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  color: #ffffff;
  font-size: 16px;
}

.cards__3 .grid {
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
  padding: 24px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 100px;
  grid-row-gap: 40px;
}

.grid h5,
.grid h3 {
  margin: 0;
  font-size: 10px;
}

.flex div {
  display: flex;
  gap: 50px;
  align-items: center;
}

.analytics {
  margin-top: 1rem;
}

.analytics__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.analytics__grid--flex {
  display: flex;
  gap: 10px;
}

.analytics__grid--flex div:nth-child(1) {
  width: 48px;
  height: 48px;
  border-radius: 8px;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}

.analytics__grid--flex div:nth-child(1) img {
  width: 24px;
  height: 24px;
}