/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
    object-fit: cover;
  }
  
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }

  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

  body {
    font-family: "Outfit", serif;
    background-color: #262833;
  }

  
  a {
    text-decoration: none;
    font-family: "Outfit", serif;
  }
  

header {
  display: flex;
  justify-content: space-between;
  padding: 20px 24px;
}

header div {
  display: flex;
  align-items: center;
}

.header__right {
  display: flex;
  gap: 12px;
}

.header__right h4 {
  color: #ffffff;
}

nav {
  display: flex;
  flex-direction: column;
  width: 220px;
  height: 50vh;
  padding: 24px;
}

.bottom--nav {
  margin-top:auto;
}

nav a {
  font-size: 16px;
  color: #ffffff;
}

nav h5 {
  text-transform: uppercase;
  color: #6C727F;
  font-size: 12px;
  margin-bottom: 1rem;
}

.nav__menus  a {
  display: flex;
  align-items: center;
  gap: 8px;
}

.nav__menus--new a,
.nav__menus--tickets a {
  display: flex;
  align-items: center;
  gap: 8px;
}

.nav__menus--new,
.nav__menus--tickets {
  color: #ffffff;
  display: flex;
  width: 172px;
  align-items: center;
  /* height: 20px; */
}


.nav__menus--new div,
.nav__menus--tickets div {
  margin-left: auto;
  font-weight: 500;
  font-size: 10px;
  color: #ffffff;
  background-color: #A686C4;
  padding: 2px 8px;
  border-radius: 50px;
  display: flex;
  align-items: center;
}

.nav__menus--tickets div {
  background-color: #43454D;
  width: 25px;
  height: 17px;
  display: flex;
}