* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background: #f9f9f9;
    color: #333;
    padding: 20px;
}


main>p {
    margin: 1em 0;
    font-style: italic;
    font-size: 1.5em;
}

@keyframes slideFadeIn {
    from {
        opacity: 0;
        transform: translateX(-15px);
    }

    to {
        opacity: 1;
        transform: translateX(5px);
    }
}

main {
    max-width: 800px;
    margin: auto;
}

main>p {
    animation: slideFadeIn 5s ease-out forwards;
}

img {
    object-fit: cover;
    max-width: 100%;
    width: 50%;
    border-radius: 15px;
    transition: transform 0.4s ease;
    cursor: zoom-in;
}

img:hover {
    transform: scale(1.1);
}

a {
    text-decoration: none;
    font-family: inherit;
    color: #3860f0;
    border: 2px solid #3860f0;
    padding: 1em 1.5em;
}

a:hover {
    text-decoration: underline;
    background-color: #3860f0;
    color: #fff;
}

.lists-section {
    margin-top: 2em;
    display: flex;
    padding-left: 15px;
    justify-content: space-between;
    width: 50%;
}

.lists-section ul li:not(li:last-of-type),
.lists-section ol li:not(li:last-of-type) {
    margin-bottom: 15px;
}

section {
    margin-bottom: 2em;
}

.media-section {
    float: right;
    margin-left: 50px;
    margin-bottom: 50px;
}

video {
    margin-bottom: 25px;
}

table {
    width: 100%;
}

header,
footer {
    background: #3860f0;
    color: #fff;
    text-align: center;
    padding: 20px;
}

footer {
    clear: both;
}