* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    background-color: #f8f9fa;
    color: #212529;
    padding: 20px;
}

header {
    text-align: center;
    padding: 1em 0;
    background-color: #007BFF;
    color: white;
    margin-bottom: 20px;
}

main {
    max-width: 1000px;
    margin: 0 auto;
    padding: 25px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

img {
    width: 50%;
    max-width: 100%;
    height: auto;
    display: block;
    margin: 1em 0;
    object-fit: cover;
}


section {
    margin-bottom: 2em;
}

section:nth-of-type(2) {
    display: flex;
    border: #e9ecef 1px solid;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 50%;
    justify-content: space-between;
    padding: 1em;
    margin-top: 2em;
}

ul,
ol {
    margin: 1em 0;
    padding-left: 2em;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

