* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Be Vietnam Pro", serif;
    line-height: 1.6;
}

a {
    text-decoration: none;
    font-style: inherit;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 92px;
    padding: 24px 72px;
}

nav img {
    width: 32px;
    height: 32px;
    object-fit: cover;
}

nav a {
    background-color: #C9D2FA;
    font-size: 16px;
    color: #4E46DC;
    font-weight: 700;
    padding: 12px 36px;
    border-radius: 50px;
    width: 140px;
    height: 44px;
    display: flex;
    align-items: center;
}

.hero {
    display: flex;
    gap: 50px;
    margin: auto;
    width: 70%;
}

.right img {
    width: 550px;
    height: 600px;
    object-fit: cover;
}

.left {
    width: 551px;
    height: 298px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: auto;
    margin-bottom: auto;
}

.left h1 {
    font-size: 36px;
    color: #121826;
}

.left span {
    color: #4E46DC;
}

.left p {
    font-size: 16px;
    color: #121826;
    font-weight: 400;
}

.buttons {
    width: 267px;
    display: flex;
    gap: 15px;
}

.buttons button {
    padding: 12px 36px;
    width: 124px;
    height: 48px;
    border-radius: 50px;
    outline: none;
    border: none;
    background: transparent;
    font-weight: 700;
}

.buttons .create {
    background-color: #4E46DC;
    color: #ffffff;
}

.buttons .explore {
    color: #4E46DC;
    background-color: #FFFFFF;
    border: 2px solid #E5E7EB;
}

.creators {
    width: 80%;
    margin: auto;
}

.creators h2 {
    padding: 72px;
    text-align: center;
}

.creators h3 {
    font-weight: 600;
    text-align: center;
}

.creators span {
    color: #121826;
}

.creators .art {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 50px;
}

.creators .art div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.art span {
    display: block;
    text-align: center;
}

.creators .art div img {
    object-fit: cover;
    width: 32px;
    height: 48px;
}

.C9D2FA div {
    background-color: #C9D2FA;
    width: 72px;
    height: 72px;
    padding: 16px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.E2FBE8 div {
    background-color: #E2FBE8;
    width: 72px;
    height: 72px;
    padding: 16px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.FBE5E6 div {
    background-color: #FBE5E6;
    width: 72px;
    height: 72px;
    padding: 16px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.FBE5E6 div {
    background-color: #FBE5E6;
    width: 72px;
    height: 72px;
    padding: 16px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.FDF9C9 div {
    background-color: #FDF9C9;
    width: 72px;
    height: 72px;
    padding: 16px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.FCEED8 div {
    background-color: #FCEED8;
    width: 72px;
    height: 72px;
    padding: 16px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.DEE9FC div {
    background-color: #DEE9FC;
    width: 72px;
    height: 72px;
    padding: 16px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.F1E8FD div {
    background-color: #F1E8FD;
    width: 72px;
    height: 72px;
    padding: 16px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.D5FAF1 div {
    background-color: #D5FAF1;
    width: 72px;
    height: 72px;
    padding: 16px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    background-image: url('resources/footer_background_image.png');
    background-repeat: no-repeat;
    width: 1280px;
    height: 540.25px;
    background-size: cover;
    margin: auto;
    margin-top: 50px;
}

footer h2 {
    color: #FFFFFF;
}

footer button {
    background-color: #4E46DC;
    width: 124px;
    height: 48px;
    padding: 12px 36px;
    display: flex;
    align-items: center;
    outline: none;
    border: none;
    border-radius: 50px;
    color: #ffffff;
    justify-content: center;
}

footer div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh;
    gap: 25px;
}

.footer {
    background-color: #121826;
    height: 72px;
    width: 1280px;
    margin: auto;
    padding: 24px 72px;
}

.footer p {
    color: #9DA3AE;
}