@import url(reset.css);
@import url(typography.css);
@import url(colors.css);

body {
    font-family: var(--font-primary);
    background-color: var(--clr-dark-1);
    font-size: clamp(1rem, 0.9rem + 0.5vw, 1.25rem);
    color: var(--clr-white);
    padding: 0 24px;
}

.top-nav {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #43454D;
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    padding: 20px 24px;
}

.top-nav__user {
    display: flex;
    gap: 12px;
    align-items: center;
}

.top-nav__avatar {
    cursor: pointer;
}

.top-nav__user span {
    font-size: 1rem;
    font-weight: 500;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70vh;
}

ul,
ol {
    list-style-type: none;
}

.side-nav__new {
    background-color: #E4D6F3;
    border-radius: 50px;
    padding: 2px 8px;
    width: 36px 17px;
    display: inline;
    color: #262833;
    font-size: 10px;
    display: flex;
    align-items: center;
    height: 17px;
}

h5 {
    font-weight: 500;
    font-size: 12px;
    color: #D2D5DA;
}

li {
    max-width: 172px;
}

li a {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 1rem;
    font-weight: 500;
    font-family: inherit;
}

li:nth-of-type(2) {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inventory-details {
    max-width: 750px;
}

.layout {
    display: flex;
}