@import url(reset.css);
@import url(typography.css);
@import url(colors.css);

body {
    font-family: var(--font-primary);
    background-color: var(--clr-dark-1);
    font-size: clamp(1rem, 0.9rem + 0.5vw, 1.25rem);
    color: var(--clr-white);
    padding: 0 24px;
}

.top-nav {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #43454D;
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    padding: 20px 24px;
}

.top-nav__user {
    display: flex;
    gap: 12px;
    align-items: center;
}

.top-nav__user img {
    cursor: pointer;
}

.top-nav__user span {
    font-size: 1rem;
    font-weight: 500;
}