@import url(preset.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: var(--font-primary);
    font-size: var(--font-size-body);
    background-color: var(--color-background);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(resources/blur-radial.png);
    background-repeat: no-repeat;
    position: relative;
    background-position: 35% 25%;
}

main {
    background-color: var(--color-surface);
    border-radius: 12px;
    padding: 40px;
    max-width: 500px;
    width: 100%;
    height: 379px;
    position: absolute;
}

form {
    color: var(--color-light);
}

.hidden {
    display: none;
}

h1 {
    margin-bottom: 36px;
    font-size: var(--font-size-heading);
    letter-spacing: -1%;
    font-weight: var(--font-weight-medium);
}

h2 {
    color: var(--color-light);
    font-size: var(--font-size-heading);
    letter-spacing: -1%;
    font-family: inherit;
    font-weight: var(--font-weight-medium);
}

label {
    color: var(--color-light);
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-regular);
    letter-spacing: -1%;
    margin-bottom: 5px;
}

section:first-of-type div {
    display: flex;
    flex-direction: column;
}

section:first-of-type div:not(section:first-of-type div:last-of-type) {
    margin-bottom: 24px;
}

input {
    outline: unset;
    border: unset;
    width: 420px;
    height: 47px;
    border-radius: 12px;
    cursor: pointer;
    border: 1px solid var(--color-border);
    padding: 16px 266px 16px 16px;
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-medium);
    letter-spacing: -1%;
    color: #E5E7EB;
    background: transparent;
}

input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    /* For Safari */
    outline: none;
    border: none;
    width: 420px;
    height: 47px;
    cursor: pointer;
    border-radius: 12px;
    border: 1px solid var(--color-border);
    padding: 16px 266px 16px 16px;
    font-size: var(--font-size-tab);
    font-weight: var(--font-weight-regular);
    letter-spacing: -1%;
    color: #E5E7EB;
    background: transparent;
}

input::placeholder,
input[type="checkbox"]::placeholder {
    color: #E5E7EB;
    font-weight: var(--font-weight-medium);
    font-size: 12px;
    font-family: inherit;
}

button {
    padding: 12px 36px;
    outline: unset;
    border: unset;
    color: #E5E7EB;
    background: linear-gradient(90deg, #845EEE 0%, #652CD1 100%);
    cursor: pointer;
    border-radius: 38px;
    width: 125px;
    height: 39px;
    font-size: 12px;
    letter-spacing: -1%;
    font-weight: var(--font-weight-semi-bold);
    font-family: inherit;
    display: block;
    margin: 36px auto 0 auto;
}

/* footer */
.author-info {
    font-size: 14px;
    text-align: center;
    margin-top: 16px;
    color: inherit;
    font-family: inherit;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}

.author-info a {
    text-decoration: none;
    color: inherit;
    font-family: inherit;
}