/* Be Vietnam Pro - Thin */
@font-face {
    font-family: "Be Vietnam Pro";
    src: url("../resources/Be_Vietnam_Pro/BeVietnamPro-Thin.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "Be Vietnam Pro";
    src: url("../resources/Be_Vietnam_Pro/BeVietnamPro-ThinItalic.ttf") format("truetype");
    font-weight: 100;
    font-style: italic;
}

/* Extra Light */
@font-face {
    font-family: "Be Vietnam Pro";
    src: url("../resources/Be_Vietnam_Pro/BeVietnamPro-ExtraLight.ttf") format("truetype");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "Be Vietnam Pro";
    src: url("../resources/Be_Vietnam_Pro/BeVietnamPro-ExtraLightItalic.ttf") format("truetype");
    font-weight: 200;
    font-style: italic;
}

/* Light */
@font-face {
    font-family: "Be Vietnam Pro";
    src: url("../resources/Be_Vietnam_Pro/BeVietnamPro-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Be Vietnam Pro";
    src: url("../resources/Be_Vietnam_Pro/BeVietnamPro-LightItalic.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
}

/* Regular */
@font-face {
    font-family: "Be Vietnam Pro";
    src: url("../resources/Be_Vietnam_Pro/BeVietnamPro-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Be Vietnam Pro";
    src: url("../resources/Be_Vietnam_Pro/BeVietnamPro-Italic.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
}

/* Medium */
@font-face {
    font-family: "Be Vietnam Pro";
    src: url("../resources/Be_Vietnam_Pro/BeVietnamPro-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Be Vietnam Pro";
    src: url("../resources/Be_Vietnam_Pro/BeVietnamPro-MediumItalic.ttf") format("truetype");
    font-weight: 500;
    font-style: italic;
}

/* SemiBold */
@font-face {
    font-family: "Be Vietnam Pro";
    src: url("../resources/Be_Vietnam_Pro/BeVietnamPro-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Be Vietnam Pro";
    src: url("../resources/Be_Vietnam_Pro/BeVietnamPro-SemiBoldItalic.ttf") format("truetype");
    font-weight: 600;
    font-style: italic;
}

/* Bold */
@font-face {
    font-family: "Be Vietnam Pro";
    src: url("../resources/Be_Vietnam_Pro/BeVietnamPro-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Be Vietnam Pro";
    src: url("../resources/Be_Vietnam_Pro/BeVietnamPro-BoldItalic.ttf") format("truetype");
    font-weight: 700;
    font-style: italic;
}

/* ExtraBold */
@font-face {
    font-family: "Be Vietnam Pro";
    src: url("../resources/Be_Vietnam_Pro/BeVietnamPro-ExtraBold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Be Vietnam Pro";
    src: url("../resources/Be_Vietnam_Pro/BeVietnamPro-ExtraBoldItalic.ttf") format("truetype");
    font-weight: 800;
    font-style: italic;
}

/* Black */
@font-face {
    font-family: "Be Vietnam Pro";
    src: url("../resources/Be_Vietnam_Pro/BeVietnamPro-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "Be Vietnam Pro";
    src: url("../resources/Be_Vietnam_Pro/BeVietnamPro-BlackItalic.ttf") format("truetype");
    font-weight: 900;
    font-style: italic;
}