@import url(font-face.css);
/* ============================= */
/*  Root Variables               */
/* ============================= */

:root {
    /* Font Family */
    --font-primary: "Be Vietnam Pro", sans-serif;

    /* Font Weights */
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semi-bold: 600;
    --fw-bold: 700;

    /* Font Sizes (Desktop) */
    --fs-heading-1: 2.25rem;
    /* 36px */
    --fs-heading-2: 2rem;
    /* 32px */
    --fs-label: 1.25rem;
    /* 20px */
    --fs-body: 1rem;
    /* 16px */

    /* Line Height */
    --lh-heading: 1.2;
    --lh-body: 1.6;
}