@import url(font-face.css);

:root {
    --font-primary: "Be Vietnam Pro", system-ui, sans-serif;

    /* Font Weights */
    --fw-regular: 400;
    --fw-bold: 700;

    /* Type Scale */
    --fs-heading-1: 2.25rem;
    /* 36px */
    --fs-heading-2: 2rem;
    /* 32px */
    --fs-label: 1.25rem;
    /* 20px */
    --fs-body: 1rem;
    /* 16px */
}