* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    margin: 2rem;
    line-height: 1.5;
    background-color: aliceblue;
}


ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 25px;
}


.container {
    max-width: 840px;
    margin: auto;
    padding: 2rem;
    color: rgb(9, 73, 200);
    background-color: #ffffff;
}

a {
    text-decoration: none;
    color: inherit;
    font-size: 14px;
    transition: font-weight 0.3s cubic-bezier(0.165, 0.84, 0.44, 1), transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

a:hover {
    font-weight: 600;
    transform: scaleX(1);
    background-color: aliceblue;
}

h1,
h2 {
    margin-bottom: 1rem;
}

footer {
    text-align: center;
    margin-top: 1rem;
}