  div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
}

h1 {
  color: rgb(31 41 55);
}

button {
  height: 25px;
  opacity: 1;
  cursor: pointer;
  background: transparent;
  outline: unset;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-radius: 50px;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 500;
  display: flex;
  align-items: center;
  border: unset;
  border: 1px solid rgb(203 213 225);
}

button:hover {
  background-color: rgb(75 85 99);
  color: rgb(255, 255, 255);
}

.toast-container {
  position: absolute;
  top: 1em;
  right: 1em;
  box-shadow: 0 1px 10px 0 rgba(0,0,0,.1),0 2px 15px 0 rgba(0,0,0,.05);
  cursor: pointer;
}

/* animated bottom bar */
.toast-container::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;              /* start from left */
  height: 4px;
  width: 100%;
  background: seagreen;
  animation: shrinkBar 3s linear backwards;
}

@keyframes shrinkBar {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}