@import url(preset.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: var(--font-family-base);
    background-color: var(--color-text-primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 48px 0;
}

header {
    width: 471px;
    margin-bottom: 48px;
}

h1 {
    color: var(--color-background);
    font-weight: var(--font-weight-semibold);
    letter-spacing: -1%;
    font-size: var(--font-size-heading);
    text-align: center;
    margin-bottom: 16px;
}

header p {
    text-align: center;
    color: var(--color-text-secondary);
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-body);
}

main {
    display: flex;
    flex: 1;
    gap: 48px;
}

article {
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    border-radius: 16px;
    background-color: var(--color-surface);
    width: 316px;
    height: 451px;
}

h2 {
    font-size: 20px;
    font-weight: var(--font-weight-semibold);
    color: #E5E7EB;
}

article p {
    color: #D2D5DA;
    font-size: 16px;
    font-weight: var(--font-weight-regular);
    letter-spacing: -1%;
    width: 254px;
}

div {
    object-fit: cover;
    padding: 16px;
    height: 52px;
    width: 52px;
    border-radius: 50%;
}

.hand {
    background-color: #FCEED8;
}

.tablet {
    background-color: #DEE9FC;
}

.idea {
    background-color: #FBE5E6;
}

img {
    width: 267px;
    height: 193px;
    display: block;
    margin: 0 auto;
    object-fit: cover;
    border-radius: 12px;
}

.author-info {
    font-size: 14px;
    text-align: center;
    margin-top: 16px;
    font-family: inherit;
    color: inherit;
}

.author-info a {
    text-decoration: none;
    font-family: inherit;
    color: inherit;
}

@media (max-width: 1024px) {
    body {
        padding: 48px 0;
    }

    main {
        padding: 0 32px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 48px;
    }
}

@media (max-width: 412px) {
    body {
        padding: 48px 23px;
    }

    header {
        width: 366px;
    }

    main {
        width: 366px;
        margin: 0 auto;
        gap: 48px;
    }

    article {
        padding: 24px;
    }
}