@font-face {
    font-family: 'Outfit';
    src: url('../resources/Outfit/static/Outfit-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Outfit';
    src: url('../resources/Outfit/static/Outfit-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Outfit';
    src: url('../resources/Outfit/static/Outfit-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Outfit';
    src: url('../resources/Outfit/static/Outfit-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Outfit';
    src: url('../resources/Outfit/static/Outfit-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Outfit';
    src: url('../resources/Outfit/static/Outfit-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Outfit';
    src: url('../resources/Outfit/static/Outfit-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Outfit';
    src: url('../resources/Outfit/static/Outfit-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Outfit';
    src: url('../resources/Outfit/static/Outfit-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

:root {
    /* Font Family */
    --font-family-outfit: 'Outfit', sans-serif;

    /* Font Weights */
    --font-weight-regular: 400;
    --font-weight-semibold: 600;

    /* Font Sizes */
    --font-size-heading: 2.5rem;
    /* 40px */
    --font-size-small-heading: 1.25rem;
    /* 20px */
    --font-size-body: 1rem;
    /* 16px */

    /* Line Heights (if defined) */
    --line-height-heading: 1.2;
    --line-height-body: 1.5;

    /* Color Palette */
    --color-black: #121826;
    --color-gray: #9DA3AE;
    --color-light-gray: #E5E7EB;
    --color-dark-bg: #212936;
    --color-blue-tint: #DEE9FC;
    --color-red-tint: #FBE5E6;
    --color-yellow-tint: #FCEED8;
    --color-border: #D2D5DA;
}