@import url(reset.css);
@import url(typography.css);
@import url(colors.css);

body {
    background-color: var(--color-primary);
    font-family: var(--ff-main);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 48px 0;
    font-size: clamp(0.95rem, 0.3vw + 0.9rem, 1rem);
}

header {
    max-width: 471px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: auto;
    text-align: center;
}

h1 {
    font-size: clamp(2rem, 1vw + 1.8rem, 2.5rem);
    letter-spacing: -1%;
    font-weight: 600;
}

header p {
    font-size: 1rem;
    color: var(--gray-300);
}

h1,
h2 {
    color: var(--gray-100);
    letter-spacing: -1%;
    font-weight: 600;
}

main {
    padding: 0 32px;
    display: flex;
    gap: 48px;
    display: flex;
    margin-top: 48px;
}

article {
    max-width: 316px;
    width: 100%;
    padding: 24px;
    border-radius: 16px;
    background-color: var(--color-secondary);
    display: flex;
    flex-direction: column;
    gap: 16px;
    cursor: pointer;
}

figure {
    padding: 16px;
    border-radius: 50%;
    height: 52px;
    width: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
}

article:first-of-type figure {
    background-color: #FCEED8;
}

article:nth-of-type(2) figure {
    background-color: #DEE9FC;
}


article:last-of-type figure {
    background-color: #FBE5E6;
}

h2 {
    font-size: clamp(1.125rem, 0.6vw + 1rem, 1.25rem);
    color: #E5E7EB;
}

article p {
    letter-spacing: -1%;
    font-size: 1rem;
    color: #D2D5DA;
}

article img {
    border-radius: 6px;
}

@media (max-width: 1024px) {
    main {
        padding: 0 32px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        /* two items on top */
        grid-template-rows: auto auto;
        grid-template-areas:
            "a1 a2"
            ".  a3";
        gap: 48px;
        padding: 0 32px;
        margin-top: 48px;
        justify-items: center;
        /* center bottom card */
    }

    main article:nth-of-type(1) {
        grid-area: a1;
    }

    main article:nth-of-type(2) {
        grid-area: a2;
    }

    main article:nth-of-type(3) {
        grid-area: a3;
    }

}

@media (max-width: 412px) {
    body {
        padding: 48px 23px;
    }

    main {
        display: flex;
        flex-direction: column;
    }
}