:root {
    /* Base Colors */
    --color-black: #121826;
    --color-white: #ffffff;

    /* Primary Colors */
    --color-primary-blue: #4138C2;
    --color-primary-light-blue: #4E80EE;
    --color-primary-teal: #52B3D0;
    --color-primary-green: #5EC269;
    --color-primary-purple: #9D59EF;
    --color-primary-pink: #C951E7;
    --color-primary-orange: #E87B35;
    --color-primary-yellow: #E2B53E;
    --color-primary-red: #E14F62;

    /* Text / Neutral Colors */
    --color-text-primary: #121826;
    --color-text-secondary: #9DA3AE;
    --color-border: #E5E7EB;

    /* Accent / UI Backgrounds */
    --color-accent-light-blue: #C9D2FA;
    --color-accent-mint: #D5FAF1;
    --color-accent-purple-bg: #F1E8FD;
    --color-accent-pink-bg: #FBE5E6;
    --color-accent-yellow-bg: #FCEED8;
    --color-accent-light-yellow: #FDF9C9;
    --color-accent-green-bg: #E2FBE8;
    --color-accent-light-gray: #DEE9FC;
}