* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #CBD5E1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    line-height: 1.6;
    height: 85vh;
}


main {
    background-color: #ffffff;
    width: 1280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    padding: 3rem 0;
}

header {
    padding: 1.5rem 0 2.5rem 0;
}

header p {
    text-align: center;
}

hr {
    width: 70%;
}

.sections {
    background-color: #F9FAFC;
    width: 100%;
    display: flex;
    flex-direction: column;
}