* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.author-info {
    font-size: 14px;
    text-align: center;
    margin-top: auto;
    color: rgb(55, 65, 81);
}

.author-info a {
    text-decoration: none;
}