@import url(variables.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--color-black);
    background-color: var(--color-background);
}

header {
    padding: 72px 24px;
    background-color: var(--color-white);
    width: 100%;
}

header h1 {
    margin-bottom: 16px;
}

header p,
header h1 {
    text-align: center;
}

.author-info a {
    color: inherit;
}