@font-face {
    font-family: 'Inter';
    src: url('./resources/Inter/static/Inter_18pt-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('./resources/Inter/static/Inter_18pt-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

:root {
    --font-heading: 'Inter', sans-serif;
    --font-body: 'Inter', sans-serif;

    --font-weight-regular: 400;
    --font-weight-semibold: 700;
    /* Changed from 600 to 700 */

    --font-size-heading-1: 2.25rem;
    /* 36px */
    --font-size-heading-2: 1.5rem;
    /* 24px */
    --font-size-body: 1rem;
    /* 16px */

    --color-primary: #1A5AFF;
    --color-background: #F8FAFC;
    --color-white: #FFFFFF;

    --color-black: #030616;
    --color-gray-light: #D2D5DA;
}