* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F2F5F9;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Poppins", serif;
}

main {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    height: 529px;
    width: 418px;
    border: .5px solid #F2F5F9;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

section {
    width: 354px;
    height: 132px;
    padding: 24px;
    margin-top: 1rem;
}

h1 {
    color: #111729;
    font-size: 24px;
    font-weight: 500;
}

section p {
    color: #677489;
    font-size: 16px;
    margin-top: 1rem;
    width: 351.39px;
}

header {
    position: relative;
    background-image: url('resources/hero-image.jpg');
    background-size: cover;
    background-position: center;
    height: 281px;
    width: 418px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

header::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: white;
    border-top-left-radius: 60% 35px;
    /* Create the curve */
    border-top-right-radius: 60% 35px;
    transform: scaleY(-1);
}

footer {
    display: flex;
    padding: 24px;
    gap: 15px;
    align-items: center;
}

footer img {
    height: 36px;
    width: 36px;
    border-radius: 50%;
}

footer h3 {
    font-weight: 600;
    font-size: 16px;
    color: #111729;
}

footer p {
    font-size: 12px;
    color: #677489;
}

hr {
    margin-top: 50px;
    color: #F2F5F9;
    width: 418px;
    opacity: .2;
}