@import url(preset.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color-background-light);
    font-family: var(--font-primary);
    color: var(--color-text-muted);
}

img {
    object-fit: cover;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 1206px;
    height: 24px;

}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    width: 365px;
}

nav ul a {
    text-decoration: none;
    color: inherit;
    font-family: inherit;
}

nav div {
    display: flex;
    width: 48px;
    height: 24px;
    cursor: pointer;
}

nav img {
    width: 141px;
    height: 24px;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 1206px;
    height: 661px;
    margin: 0 auto;
    gap: 92px;
}

main {
    display: flex;
    align-items: center;
    height: 545px;
    gap: 32px;
}

.btn+div {
    display: flex;
    gap: 20px;
    flex-direction: row;
}

section:first-child {
    width: 587px;
    height: 545px;
    display: flex;
    flex-direction: column;
}



section:first-child>p {
    margin-bottom: 12px;
    font-size: 14px;
    font-weight: var(--font-weight-semi-bold);
}

h1 {
    font-size: 64px;
    font-weight: var(--font-weight-bold);
    width: 587px;
    letter-spacing: -0.01em;
    line-height: var(--line-height-heading);
}

section>div:nth-of-type(1)>p {
    font-size: 18px;
    font-weight: var(--font-weight-medium);
}


section>div:nth-of-type(1) {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

/* Parent of the two feature blocks: flex them horizontally */
section>div:nth-of-type(3) {
    display: flex;
    gap: 2rem;
}

/* Each icon-text pair: flex row */
section>div:nth-of-type(3)>div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

/* Control image size */
section>div:nth-of-type(3) img {
    width: 24px;
    height: 24px;
}


section>div:nth-of-type(3) p {
    font-size: 14px;
    letter-spacing: -0.01em;
}


section:first-child>div:nth-of-type(2)>div img {
    width: 18px;
    height: 18px;
}

.btn {
    margin: 22px 0 40px 0;
    align-items: center;
    gap: 32px;
    width: 317px;
    display: flex;
}

button {
    width: 174px;
    height: 52px;
    background-color: #263FA9;
    color: #ffffff;
    border-radius: 12px;
    padding: 16px 32px;
    outline: unset;
    border: unset;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
}

section:last-child img {
    width: 587px;
    height: 508px;
}

/* footer */
.author-info {
    font-size: 14px;
    text-align: center;
    margin-top: 16px;
    color: rgb(55, 65, 81);
    font-family: inherit;
}

.author-info a {
    text-decoration: none;
    color: inherit;
}