* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    line-height: 1.6;
    background-color: #F2F9FE;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.links {
    width: 365px;
}

.logo img {
    width: 141px;
    height: 24px;
    object-fit: cover;
}

nav.dark-mode {
    background-color: #333;
}

.logo img {
    width: 141px;
    height: 24px;
    object-fit: cover;
}

.links ul {
    list-style: none;
}

.toggle .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    border-radius: 50%;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
}

input:checked+.slider {
    background-color: #223344;
}

input:checked+.slider:before {
    transform: translateX(26px);
}