* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", serif;
    line-height: 1.6;
    background-color: #F2F9FE;
    min-height: 100vh;
}

a {
    text-decoration: none;
    font-style: inherit;
}

ul {
    list-style-type: none;
}

.links {
    width: 365px;
}

.logo img {
    width: 141px;
    height: 24px;
    object-fit: cover;
}

nav.dark-mode {
    background-color: #333;
}

.logo img {
    width: 141px;
    height: 24px;
    object-fit: cover;
}

.links ul {
    list-style: none;
}

.toggle .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    border-radius: 50%;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
}

input:checked+.slider {
    background-color: #223344;
}

input:checked+.slider:before {
    transform: translateX(26px);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 4rem 1.5rem 4rem;
}

.links ul {
    display: flex;
    width: 365px;
    justify-content: space-between;
}

.links ul a {
    font-size: 14px;
    font-weight: 600;
    color: #677489;
}

.links ul .active {
    color: #223344;
    font-weight: 600;
}

main {
    max-width: 1136px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    margin-top: 50px;
}

.left {
    display: flex;
    flex-direction: column;
}

.no {
    display: flex;
    gap: 20px;
}

.no div {
    display: flex;
    gap: 10px;
}

.no div p {
    color: #677489;
    font-size: 14px;
}

.left h5 {
    font-size: 14px;
    color: #223344;
    margin-bottom: .5rem;
}

.left h1 {
    font-size: 64px;
    font-weight: 700;
    color: #223344;
    margin-bottom: 2rem;
}

.left p {
    color: #677489;
    font-size: 18px;
}

.buttons {
    display: flex;
    width: 317;
    gap: 25px;
    font-size: 16px;
    font-weight: 600;
    align-items: center;
    height: 52px;
    margin: 1.5rem 0 2.5rem 0;
}

.buttons a:nth-child(2) {
    text-decoration: underline;
    font-weight: 600;
    color: #2A4DD0;
}

.left .btn {
    background-color: #2A4DD0;
    color: #ffffff;
    padding: 16px 32px;
    border-radius: 12px;
}

.right img {
    height: 508px;
    width: 552px;
    object-fit: cover;
}