:root {
    /* Font Family */
    --font-primary: 'Be Vietnam Pro', sans-serif;

    /* Font Weights */
    --fw-regular: 400;
    --fw-semibold: 600;
    --fw-bold: 700;

    /* Font Sizes */
    --fs-body: 1rem;
    /* 16px */
    --fs-heading: 2rem;
    /* 32px */
    --fs-big: 4rem;
    /* 64px */

    /* Neutral Colors */
    --color-black: #121826;
    --color-white: #FFFFFF;
    --color-light-gray: #E5E7EB;
    --color-off-white: #F8FAFC;
    --color-gray: #4D5562;
    --color-gray-50: #4D556233;
    /* 20% opacity */

    /* Primary Color */
    --color-primary: #263FA9;

    /* Accent / Warning / Brand Color */
    --color-accent: #7C4F1E;
}