* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.fill {
    background-color: #F5C044;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fill img {
    width: 24px;
    height: 30px;
    filter: brightness(0) saturate(100%) invert(100%);
}

ul,
ol {
    list-style-type: none;
}

main {
    display: flex;
    max-width: 1280px;
}

.google,
.meta {
    width: 552px;
}