:root {
    --form-select-padding-bottom: 24px;
    --form-select-padding-right: 18px;
}

.form--control>textarea,
.form--control>select,
.form--control>button {
    font-weight: 700;
}

.form__label {
    display: block;
    font-size: 0.875rem;
    color: #FFFFFF;
    margin-bottom: 4px;
}

.form__input {
    padding: 24px 18px;
    width: 100%;
    color: #111729;
    border-radius: 20px;
    border: none;
    font-size: 1rem;
    outline: none;
}

.form__input::placeholder {
    font-size: 1rem;
    color: #CDD5E0;
    border: none;
}

.form__input:focus::placeholder {
    opacity: 0;
}

.form__select {
    padding: var(--form-select-padding-bottom) var(--form-select-padding-right);
    width: 100%;
    color: #111729;
    border-radius: 20px;
    border: none;
    font-size: 1rem;
    outline: none;
    appearance: none;
    position: relative;
    cursor: pointer;
}

.form--control--select {
    position: relative;
}

.form--control--select::after {
    content: "";
    background-image: url("resources/Expand_down.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px;
    position: absolute;
    right: var(--form-select-padding-right);
    bottom: var(--form-select-padding-bottom);
}

.form__area {
    width: 100%;
    height: 207px;
    resize: none;
    border-radius: 20px;
    font-size: 1rem;
    outline: none;
    padding: var(--form-select-padding-bottom) var(--form-select-padding-right);
}

.form__area::placeholder {
    color: #111729;
    font-size: 1rem;
}

.form__area:focus::placeholder {
    opacity: 0;
}

.form__button {
    text-align: center;
    background-color: #FFFFFF;
    width: 100%;
    padding: var(--form-select-padding-bottom) var(--form-select-padding-right);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1.25rem;
    color: #4036A9;
}

@media (min-width: 1024px) {

    .form--area {
        grid-column: span 2;
    }

    .form--button {
        grid-column: span 2;
    }
}