@import url(preset.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: var(--font-base);
    background-color: #FAFAF9;
    padding: 20px 72px 60px 72px;
}

nav {
    max-width: 1206px;
    height: 30px;
}

nav img {
    object-fit: cover;
}

.container {
    max-width: 810px;
}

header {
    width: 641px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

form {
    padding: 32px;
}

.author-info {
    font-size: 14px;
    text-align: center;
    margin-top: 16px;
    font-family: inherit;
    color: inherit;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.author-info a {
    text-decoration: none;
    font-family: inherit;
    color: inherit;
}