* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Be Vietnam Pro', sans-serif;
}

html,
body {
    min-height: 100%;
    height: auto;
}

body {
    width: 100%;
    background-image: url("resources/background.svg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px 12px;
}

header {
    padding-bottom: 44px;
}

#heading {
    margin-bottom: 16px;
}

#heading>h1 {
    width: fit-content;
    color: #FFFFFF;
    font-size: 4rem;
    text-align: center;
    margin: 0 auto;
}

#description {
    margin: 0 auto 72px;
    width: fit-content;
}

#description>p {
    color: #FFFFFF;
    font-size: 1rem;
    text-align: center;
}

form {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    /*box-shadow: 0px 30px 100px 0px rgba(17, 23, 41, 0.15);*/
    background-color: #FFFFFF33;
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 24px;
    grid-column-gap: 18px;
    border-radius: 20px;
}

@media (min-width: 1024px) {
    body {
        padding: 20px 72px;
    }

    #heading>h1 {
        max-width: 800px;
    }

    #description>p {
        font-size: 2rem;
        max-width: 700px;
    }

    form {
        padding: 32px;
        max-width: 746px;
        grid-template-columns: 1fr 1fr;
    }
}