* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: "Be Vietnam Pro", serif;
}

header {
    width: 612px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header h1 {
    font-size: 32px;
    width: 545px;
    text-align: center;
}

header p {
    width: 600px;
    font-size: 16px;
    text-align: center;
    line-height: 1.4;
    margin: 1rem 0 2rem 0;
}

.logo {
    width: 24px;
    height: 32px;
    display: block;
    margin: 2rem auto 1rem auto;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 25px;
    max-width: 1200px;
    padding: 24px;
    border-radius: 20px;
    background-color: #F3F4F6;
}

.container p {
    line-height: 1.6;
    color: #6C727F;
    font-size: 16px;
}

.container img {
    width: 304px;
    height: 262px;
    object-fit: cover;
}

.top-row {
    display: flex;
    gap: 25px;
}

.top--three {
    flex: 1;
    background-color: #ffffff;
    border-radius: 16px;
    height: 492px;
    width: 368px;
    padding: 32px;
}

.top--three .top--three__flex {
    width: 304px;
    height: 406px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top--three__flex h2 {
    margin-bottom: 1rem;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.6;
}

.top--three__flex p {
    margin-bottom: 1rem;
    font-size: 16px;
}

.bottom-row {
    display: flex;
    gap: 25px;
}

.bottom--two {
    flex: 1;
    background-color: #ffffff;
    width: 564px;
    height: 326px;
    border-radius: 16px;
    padding: 32px;
}

.bottom--two__flex {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.bottom--two__flex h2 {
    margin-bottom: 1rem;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.6;
}

.bottom--two__flex img {
    width: 275px;
    height: 262px;
    object-fit: cover;
}