@import url(fonts.css);

@import url(variables.css);


*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}


body {
    font-family: var(--font-primary);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 80px 24px;
}

main {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

header {
    max-width: 720px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 16;
    align-items: center;
    letter-spacing: -1%;
}

h1 {
    font-size: var(--font-size-heading);
    font-weight: var(--font-weight-semibold);
}

h2 {
    text-align: center;
    font-weight: var(--font-weight-regular);
    font-size: var( --font-size-subheading);
    color: #6C727F;
}

a {
    text-decoration: underline;
    cursor: pointer;
    font-family: inherit;
}

a:visited {
    color: purple;
}

a:hover {
    text-decoration: underline;
}

a:focus {
    outline: 1px dotted;
}


img {
    display: block;
    margin: auto;
    object-fit: cover;
}



/* footer */
.author-info {
    font-size: 14px;
    text-align: center;
    font-family: inherit;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    color: inherit;
}

.author-info a {
    text-decoration: none;
}