/* 1. Use a more intuitive box-sizing model */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* 2. Remove default margin */
* {
    margin: 0;
}

/* 3. Improve line-height & text rendering */
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

/* 4. Make media easier to work with */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* 5. Remove built-in form typography styles */
input,
button,
textarea,
select {
    font: inherit;
}

/* 6. Avoid text overflow */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* 7. Create a root stacking context */
#root,
#__next {
    isolation: isolate;
}