@import url(font-face.css);

/* ================================
   ROOT VARIABLES
   ================================ */
:root {
    --ff-base: "Sora", system-ui, -apple-system, sans-serif;

    /* Font sizes */
    --fs-heading-1: 4rem;
    /* 64px */
    --fs-heading-2: 2.25rem;
    /* 36px */
    --fs-subheading: 1.25rem;
    /* 20px */
    --fs-body: 1rem;
    /* 16px */
    --fs-link: 1.125rem;
    /* 18px */
    --fs-small: 0.875rem;
    /* 14px */

    /* Line heights (recommended defaults) */
    --lh-heading: 1.1;
    --lh-body: 1.6;

    /* Font weights */
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semibold: 600;
    --fw-bold: 700;
}