/* Outfit Thin (100) */
@font-face {
  font-family: "Outfit";
  src: url("../resources/Outfit/static/Outfit-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

/* Outfit ExtraLight (200) */
@font-face {
  font-family: "Outfit";
  src: url("../resources/Outfit/static/Outfit-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

/* Outfit Light (300) */
@font-face {
  font-family: "Outfit";
  src: url("../resources/Outfit/static/Outfit-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* Outfit Regular (400) */
@font-face {
  font-family: "Outfit";
  src: url("../resources/Outfit/static/Outfit-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Outfit Medium (500) */
@font-face {
  font-family: "Outfit";
  src: url("../resources/Outfit/static/Outfit-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* Outfit SemiBold (600) */
@font-face {
  font-family: "Outfit";
  src: url("../resources/Outfit/static/Outfit-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* Outfit Bold (700) */
@font-face {
  font-family: "Outfit";
  src: url("../resources/Outfit/static/Outfit-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Outfit ExtraBold (800) */
@font-face {
  font-family: "Outfit";
  src: url("../resources/Outfit/static/Outfit-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

/* Outfit Black (900) */
@font-face {
  font-family: "Outfit";
  src: url("../resources/Outfit/static/Outfit-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
