@import url(reset.css);
@import url(typography.css);
@import url(colors.css);

body {
    font-family: var(--ff-base);
    background-color: #fff;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 72px;
}

main {
    max-width: 1136px;
    width: 100%;
    background-color: var(--clr-gray-100);
    border-radius: 24px;
    overflow: hidden;
}

.intro {
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-width: 568px;
    width: 100%;
}

.member,
.cta {
    max-width: 284px;
    width: 100%;
}

.cta {
    cursor: pointer;
}

.liam {
    background-color: #C1B6F8;
}

.sophia {
    background-color: #EDACD2;
}

.ethan {
    background-color: #9DC4F8;
}

.isabella {
    background-color: #F8D8B0;
}

.noah {
    background-color: #86E7D4;
}