@import url(font-face.css);
:root {
    /* Font Family */
    --ff-base: "Outfit", sans-serif;

    /* Font Weights */
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semibold: 600;

    /* Font Sizes */
    --fs-heading: 2.5rem;
    /* 40px */
    --fs-label: 1.25rem;
    /* 20px */
    --fs-body: 1rem;
    /* 16px */

    /* Line Heights */
    --lh-heading: 1.2;
    --lh-label: 1.3;
    --lh-body: 1.5;
}