@import url(preset.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: var(--font-primary);
    background-color: var(--color-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-wrapper {
    background-image: url(resources/bg-pattern.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
}

header {
    max-width: 438.75px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-inline: auto;
    text-align: center;
    letter-spacing: -1%;
    padding: 52px 0;
}

h1 {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-heading);
    color: var(--color-text-primary);
}

header p {
    color: var(--color-text-secondary);
    font-size: var(--font-size-body);
    font-weight: var(--font-weight-regular);
}

main {
    max-width: 1136px;
    width: 100%;
    padding: 0 107px 32px 107px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.popular {
    background-color: #263FA9;
    color: #ffffff;
    padding: 2px 12px;
    border-radius: 25px;
    width: 86px;
    height: 24px;
    font-size: 16px;
    letter-spacing: -1%;
}

.author-info {
    font-size: 14px;
    text-align: center;
    margin-top: 16px;
    font-family: inherit;
    color: inherit;
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
}

.author-info a {
    text-decoration: none;
    font-family: inherit;
    color: inherit;
}