/* Be Vietnam Pro - Regular */
@font-face {
    font-family: 'Be Vietnam Pro';
    src: url('./resources/Be_Vietnam_Pro/BeVietnamPro-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

/* Be Vietnam Pro - Semibold */
@font-face {
    font-family: 'Be Vietnam Pro';
    src: url('./resources/Be_Vietnam_Pro/BeVietnamPro-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

/* Be Vietnam Pro - Bold */
@font-face {
    font-family: 'Be Vietnam Pro';
    src: url('./resources/Be_Vietnam_Pro/BeVietnamPro-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

:root {
    /* Font Family */
    --font-primary: 'Be Vietnam Pro', sans-serif;

    /* Font Weights */
    --font-weight-regular: 400;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;

    /* Font Sizes */
    --font-size-body: 1rem;
    /* 16px */
    --font-size-heading: 2rem;
    /* 32px */
    --font-size-big-text: 4rem;
    /* 64px */

    /* Primary Colors */
    --color-primary: #263FA9;

    /* Background Colors */
    --color-bg-dark: #121826;
    --color-bg-light: #F8FAFC;
    --color-white: #FFFFFF;

    /* Text Colors */
    --color-text-primary: #121826;
    --color-text-secondary: #4D5562;
    --color-text-muted: #E5E7EB;
    --color-text-accent: #7C4F1E;

    /* Border / Overlay Colors */
    --color-border: #4D556233;
    /* 20% opacity */
}